
body{
    color:white;
    background:rgb(16, 79, 5);
    margin: 0px;
}

header {

    border-bottom: solid 10px rgb(81,49, 5);
    padding: 20px;
    font-size: 60px;
    color: rgb(254, 254, 254);
    font-family: "Edwardian Script ITC", cursive;

}

.chamada{

    background: rgb(81, 49, 5);
    padding-top:  40px;
    padding-bottom: 40px;
    display:  flex;
    justify-content: center;
}

.chamada-texto{

    margin-right: 5%;

}

h1 {
 font-size: 40px;
}

p {

    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-video img {
    opacity: 0.5;
    height: 200px;

}

.categorial-video img:hover {
    opacity: 1.0;
    border: 1px solid rgb(rgb(36, 76, 4))
}




